.container {
	width: 720px;
	margin: auto;
	box-sizing: border-box;
}

header div.lijn {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	height: 200px;
}

header div.lijn div.afbeelding {
	flex: 1;
	max-width: 200px;
}

header div.lijn div.title {
	flex: 1;
	text-align: center;
}

header  div.lijn div.title hr {
	width: 162px;
}

nav ul {
	display: block;
	height: 20px;
	line-height: 20px;
	list-style: none;
	padding: 0;
}

nav ul li:first-child {
	padding-left: 0;
}

nav ul li {
	width: auto;
	float: left;
	border-right: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
}

nav ul li:last-child {
	border-right: 0px;
}

main {
	margin-top: 50px;
}

main table.klassement {
	clear: both;
	width: 100%;
}

main table.klassement thead {
	background-color: black;
	color: white;
}

main table.klassement tbody tr:nth-child(2n) {
	background-color: lightgray;
}

footer {
	margin-top: 50px;
}